---
layout: default
title: Our Work
description: Don’t just take our word for it. Check out some of our latest work.
---

<!-- Slider Start -->
{% include subpage-header.html %}

<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    {% assign filters = site.data.projects | group_by: 'category' %}
                    {% for filter in filters %}
                      <li class="filter" data-filter=".{{ filter.name }}">{{ filter.name }}</li>
                    {% endfor %}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                {% for project in site.data.projects %}
                  <li class="mix {{ project.category }}">
                        <a href="#">
                          <img src="img/portfolio/{{ project.image }}" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>{{ project.title }}</h2>
                              <p>{{ project.description }}</p>
                          </div>
                        </div>
                      </a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo2.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo2.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="img/clients/clients-logo3.png" alt="Features">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
{% include call-to-action.html %}
