<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>

            {% if page.title %}
              {{page.title}}
            {% else %}
              Great Web Agency
            {% endif %}

          </h1>
          <p>

            {% if page.description %}
              {{page.description}}
            {% else %}
              Ipsum Lorem
            {% endif %}

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
