<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>

            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ site.title }}
            {% endif %}

          </h1>
          <p>

            {% if page.description %}
              {{ page.description }}
            {% else if page.subtitle %}
              {{ page.subtitle }}
            {% endif %}



          </p>
        </div>
      </div>
    </div>
  </div>
</section>
