---
layout: default
---

{% include subpage-header.html %}

<article id="post">
  <div class="container">
    <div class="col-lg-8">

      <h1>{{ page.title }}</h1>

      <p class="lead">
        by <a href="#">{{ page.author }}</a>
      </p>

      <p><span class="glyphicon glyphicon-time"></span>
        Posted on {{ page.date | date: "%B %d %Y" }}
      </p>

      {% if page.image %}
        <img src="{{ page.image }}" alt="{{ page.image }}" class="img-responsive">
      {% endif %}

      {% if page.lead %}
        <p class="lead">{{ page.lead }}</p>
      {% endif %}

      {{ page.content }}

      <hr>

      {% if page.previous.url %}
        <span class="previous-link pull-right">
          <a href=""rel="previous" href="{{ page.previous.url }}">previous article</a>
        </span>
      {% endif %}

      {% if page.next.url %}
        <span class="next-link pull-right">
          <a href=""rel="next" href="{{ page.next.url }}">next article</a>
        </span>
      {% endif %}

    </div>
  </div>
</article>
